body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/*.form-inline {
  margin-left: 912px;
}*/

.shopping-cart {
  margin-left: 68.5rem;
}
.search {
  margin-left: 47.5rem;
  padding-top: 5px;
  padding-bottom: 5px;
}
.bg-blue {
  background-color: #0000ff !important;
}

@media only screen and (max-width: 600px) {
  .form-control {
    width: 80% !important;
  }
}

@media only screen and (max-width: 600px) {
  .search {
    margin-left: 0.5rem;
  }
}
@media screen and (max-width: 600px) {
  #title_message {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}
#title_message {
  padding-top: 50px;
}
.itemCount {
  margin-bottom: -10px;
  margin-left: 3px;
}

.discount {
  color: green;
}
.lineThrough {
  text-decoration: line-through;
}

.inputfilter {
  margin-top: 50px;
}

.total {
  border: 1px solid blue;
}

.remove {
  margin-left: 3px;
}
